---
import FormattedDate from "../components/FormattedDate.astro";
import Tags from "../components/Tags.astro";
import "../styles/global.css";
import type { CollectionEntry } from "astro:content";
import BackButton from "../components/BackButton.astro";

type Props = CollectionEntry<"notes">["data"];

const { title, description, date, tags, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={tags} />
    <meta name="author" content="Devin Rankin" />
    <title>devin/n/{slug}</title>
  </head>
  <body>
    <BackButton prevRoute="/n" />
    <header class="space-y-1 mt-8">
      <FormattedDate date={date} />
      <p>{title}</p>
      <Tags tags={tags} />
    </header>

    <hr class="my-4 border"/>
    <slot />
  </body>
</html>
